{% extends "treeroad/base.html" %}

{% block title %}TreeRoad service list{% endblock %}

{% block content %}
<div class="block">
<h2>Service list</h2>
<p>{{ object_list|length }} service{{ object_list|pluralize }}</p>
<table>
  <tr>
    <th>Name</th>
    <th>Node</th>
    <th>Description</th>
    <th>.rrd files</th>
    <th>graphs</th>
  </tr>
  {% for service in object_list %}
  <tr>
    <td><a href="/treeroad/service/{{ service.id }}">{{ service.name }}</a></td>
    <td><a href="/treeroad/node/{{ service.node.id }}">{{ service.node }}</a></td>
    <td>{{ service.description }}</td>
    <td>{{ service.rrdfiles.all|length }}</td>
    <td>{{ service.graphs.all|length }} (N:{{ service.notable_graphs.all|length }})</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}