<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
    {% include 'treeroad/style.css' %}
    </style>

    <script type="text/javascript" src="{{ static_url }}js/jquery.min.js">
    
    </script>
    <title>{% block title %}TreeRoad{% endblock %}</title>
</head>

<body>
<div id="header">
<h1>TreeRoad</h1>
{% block sidebar %}
<ul id="nav">
<li><a href="{% url treeroad.views.overView %}">Overview</a></li>
<li><a href="{% url nodeList %}">Nodes</a></li>
<li><a href="{% url serviceList %}">Services</a></li>
<li><a href="{% url graphList %}">Graphs</a></li>
<li><a href="{% url treeroad.views.servInfo %}">Server info</a></li>
<li><a href="{% url admin %}">Admin (abs)</a></li>
</ul>
{% endblock %}
</div>

<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>