{% extends "treeroad/base.html" %}

{% block title %}TreeRoad graph list{% endblock %}

{% block content %}
<div class="block">
<h2>Graph list</h2>
<p>{{ object_list|length }} graph{{ object_list|pluralize }}</p>
<table>
  <tr>
    <th>Name</th>
    <th>Service</th>
    <th>Node</th>
    <th>Start > End</th>
    <th>Width x Height</th>
    <th>Data definitions</th>
    <th>Thumbnail</th>
  </tr>
  {% for graph in object_list %}
  <tr>
    <td><a href="{% url graphDetail graph.id %}">{{ graph.name }}</a></td>
    <td>{{ graph.service }}</td>
    <td>{{ graph.service.node }}</td>
    <td>{{ graph.start }} > {{ graph.end }}</td>
    <td>{{ graph.width }}x{{ graph.height }}</td>
    <td>{{ graph.defs.all|length }}</td>
    <td>{% if graph.drawThumbnail %}<img width="150" src="{{ media_url }}graphs/{{ graph.thumbPath }}"/>{% endif %}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}