body {
	font-size: 12pt;
}
#header {
	margin: 10px auto 10px auto;
	width: 800px;
	border: 1px solid #999;
}
#header h1 {
	font-variant: small-caps;
	font-size: 250%;
	width: 350px;
	margin: 5px; 
}
#header ul#nav {
	margin: 5px;
	list-style: none;
	text-align: center;
	padding: 0px;
}
#header ul#nav li {
	display: inline-block;
}
#header ul#nav li > a {
	width: 100px;
	display: block;
	
	color: black;
	
	font-variant: small-caps;
	font-size: 110%;
		
	text-decoration: none;
	text-align: center;

}
#header ul#nav li > a:hover {
	color: blue;
	text-decoration: underline;
}
#content .block {
	margin: 10px auto 10px auto;
	width: 780px;
	border: 1px solid #999;
	padding: 10px;
}
#content .block h1 {
	margin: 5px;
}
#content h2 {
	margin: 3px;
}
.block h2 {
		clear: both;
}
.block {
	padding: 5px;
	list-style: none;
	clear: both;
	width: auto;
	overflow: hidden;
}
.block a.objectblock {
	display: inline-block;
	float: left;
	clear: right;
	
	margin: 10px;
	border: 1px dotted #ddd;
	
	width: 300px;
	height: 140px;
	padding: 10px;
	
	color: black;
	text-decoration: none;
}
.block a.objectblock h3 {
	margin: 0px;
	border-bottom: 1px dotted black;
	font-weight: normal;
	font-size: 100%;
}
.block a.objectblock h3 b {
	font-weight: bold;
	margin-right: 5px;
	font-size: 120%;
}
.block li.objectblock h3 b:after {
	content: " -";
}
.block .objectblock p {
	margin: 0px;
	font-size: 80%;
}
.block .toggle {
	color: #999;
	float: right;
	cursor: pointer;
}
.block .headlink {
	font-size: 50%;
	margin-left: 10px;
	color: #999;
}
.block .toggle:hover {
	color: #000;
}
.block .toggle:hover:before {
	content: "toggle slide>";
	font-size: 50%;
}
table { 
	border-collapse: collapse;
	text-align: left;
	width: 780px;
} 
table td, table th { 
	padding: 2px 5px; 
}
table tr:first-child {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #424242), color-stop(1, #616161) );
	background:-moz-linear-gradient( center top, #424242 5%, #616161 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#616161');
	background-color:#424242; 
	color:#FFFFFF; 
	font-weight: bold; 
}
table td { 
	color: #000000;
	font-weight: normal;
}
table tr td a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
}